.btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: #1e1e1e;
    color: #fff;
    height: 32px;
    cursor: pointer;
    outline: none;
    min-width: 90px;
    justify-content: center;

    &__img {
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
    }
}

.btn:hover {
    background-color: #6c47ff;
    transition: ease-in-out 0.2s;
    border: none;
}
