.live {
    background-color: rgba(0, 0, 0, 0.8);
    .text {
        font-size: 20px;
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    .live {
        background-color: rgba(0, 0, 0, 0.8);
    }
}
