.search {
    display: flex;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 7px;
    align-items: center;
    position: relative;

    &__img {
        width: 20px;
        height: 20px;
        filter: invert(100%) sepia(7%) saturate(7470%) hue-rotate(277deg) brightness(114%) contrast(106%);
        cursor: pointer;
    }

    &__item {
        background-color: transparent;
        border: none;
        outline: none;
        margin: 0 5px;
        color: #fff;
        width: 100%;
        font-size: 16px;
    }

    &__suggests {
        position: absolute;
        top: 40px;
        z-index: 2;
        left: 20px;
        width: 90%;
        background-color: rgb(14, 9, 9);

        li {
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            text-transform: capitalize;
            border-top: 1px solid #fff;

            a {
                display: flex;
                margin: 0 !important;
                padding: 20px;
            }
        }

        li:hover {
            background: #6c47ff;
        }
    }
}
